Body {
    font-family: Calibri, Helvetica, sans-serif;
    background-color: rgb(151, 206, 201);
}

button {
    background-color: rgb(63, 62, 126);
    width: 100%;
    color: rgb(255, 254, 254);
    padding: 15px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}

form {
    border: 3px solid #f1f1f1;
}

input[type=email]{
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid orange;
    box-sizing: border-box;
}

input[type=text],
input[type=password] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid orange;
    box-sizing: border-box;
}

input[type=date] {
    width: 100%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid orange;
    box-sizing: border-box;
}

input[type=half] {
    width: 90%;
    margin: 8px 0;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid orange;
    box-sizing: border-box;
}

button:hover {
    opacity: 0.7;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    margin: 10px 5px;
}

.container {
    padding: 25px;
    background-color: lightblue;
    border: 3px solid #397568
}

.half-container {
    background-color: lightblue;
}

.container2 {
    display: flex;
}

.navbar {
    display: flex;
    align-items: center;
    border: 5px solid rgb(140, 147, 241);
    border-radius: 5px;
    padding: 20px;
    font-size: 18px;
    height: 50px;
    justify-content: space-between;
    background-color: rgb(102, 111, 243);
}

.headline {
    color: white;
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.hl_style {
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255)
}
